<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd">    
    
	<!-- Le scan des composants pour le autowired -->
    <context:component-scan base-package="fr.ge.*" />     
    
    <!-- Chargement des fichiers properties -->
    <import resource="classpath:spring/gqual-storage-server-properties-files-config.xml" />  
    
    <!-- Chargement de la configuration AppStatus -->
    <import resource="classpath:spring/gqual-storage-ws-appstatus-config.xml" /> 
    
    <!-- Chargement de la configuration du serveur REST -->
    <import resource="classpath:spring/gqual-storage-ws-cxf-config.xml" /> 
     
    <!-- Chargement de la configuration des services REST -->
    <import resource="classpath:spring/gqual-storage-ws-service-config.xml" /> 
    
    <!-- Chargement de la configuration de ge-exchange-service -->
    <import resource="classpath*:spring/applicationContext-gqual-storage-service-config.xml" />
</beans>

